<div class="border-2 rounded-lg sm:overflow-hidden">
  <div class="bg-white py-6 px-4 space-y-5 sm:p-6">
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">Change your password</h3>
      <p class="mt-1 text-sm text-gray-500">The password gets changed by a custom XHR request.</p>
    </div>

    <div>
      <label for="current" class="block text-sm font-medium text-gray-600">Current password</label>
      <div class="mt-1">
        <Input
            @type="password"
            @value={{this.currentPassword}}
            name="current"
            id="current"
            class="text-sm p-2 bg-gray-100 w-full"
          />
      </div>
    </div>
    <div>
      <label for="new" class="block text-sm font-medium text-gray-600">New password</label>
      <div class="mt-1">
        <Input
          @type="password"
          @value={{this.newPassword}}
          name="new"
          id="new"
          class="text-sm p-2 bg-gray-100 w-full"
        />
      </div>
    </div>
    <div>
      <label for="confirm" class="block text-sm font-medium text-gray-600">Confirm password</label>
      <div class="mt-1">
        <Input
          @type="password"
          @value={{this.confirmPassword}}
          name="confirm"
          id="confirm"
          class="text-sm p-2 bg-gray-100 w-full"
        />
      </div>
    </div>
    {{#if this.error}}
      <div class="rounded-md bg-red-50 p-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <h3 class="text-sm font-medium text-red-800">
              {{this.error}}
            </h3>
          </div>
        </div>
      </div>
    {{/if}}

    {{#if this.success}}
      <div class="rounded-md bg-green-50 p-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <h3 class="text-sm font-medium text-green-800">
              {{this.success}}
            </h3>
          </div>
        </div>
      </div>
    {{/if}}

  </div>
  <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
    {{#if this.hasValues}}
    <button type="button" {{ on 'click' this.changePassword }} class="bg-blue-700 border border-transparent rounded shadow-sm py-2 px-8 inline-flex justify-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600">
      Save
    </button>
    {{else}}
      <button type="button" disabled="true" class="bg-gray-200 text-gray-400 border border-transparent cursor-not-allowed rounded shadow-sm py-2 px-8 inline-flex justify-center text-sm font-medium">
        Save
      </button>
    {{/if}}
  </div>
</div>
